<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
                <dict>
                        <key>Regular Expression</key>
                        <string>(?s)^.{1,}$</string>
                        <key>Title</key>
                        <string>RARBG</string>
                        <key>URL</key>
                        <string>https://rarbg.is/torrents.php?search={popclip text}</string>
                </dict>
	</array>
	<key>Apps</key>
	<array>
		<dict>
			<key>Link</key>
			<string>https://rarbg.is/</string>
			<key>Name</key>
			<string>RARBG</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Link</key>
			<string>mailto:mysteri0uss@outlook.com</string>
			<key>Name</key>
			<string>mysteriouss</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Search for information about books, movies, music and events using RARBG.</string>
	<key>Extension Identifier</key>
	<string>com.mysteriouss.popclip.extension.rarbg</string>
	<key>Extension Name</key>
	<string>RARBG</string>
	<key>Required Software Version</key>
	<integer>719</integer>
</dict>
</plist>
